nav {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(238, 255, 0, 0.692) 100%, rgba(238, 255, 0, 0.658) 100%);
    border-color: rgba(230, 157, 157, 0.5);
    color: #fff;
    overflow: hidden;
}

nav img.logo {
    float: left;
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 1rem;
    width: 4%;
}

nav ul {
    list-style: none;
    margin: 50;
    padding: 0;
    float: right;
}

nav li {
    display: inline-block;
    /* adicionado para exibir os itens lado a lado */
}

nav a {
    display: block;
    padding: 1rem;
    color: #0b18cc;
    text-decoration: none;
}

nav a:hover {
    background-color: #fff;
    color: #333;
}

body {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(238, 255, 0, 0.692) 100%, rgba(238, 255, 0, 0.658) 100%);
    background-color: #ffffff;
    margin: 0;
}
body .d1 {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(238, 255, 0, 0.534) 100%, rgba(238, 255, 0, 0.534) 100%);
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}
body .d2 {
    display: flex;
}
body .img {
    width: 150px;
    height: 150px;
}
body .login {
    border-radius: 50%;
    background-color: #fff;
    margin-top: 5%;
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
}

